
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */



* {
margin:0px;
padding:0px;
box-sizing: border-box;
font-family: 'fantasy', sans-serif;
}
article{
    display:block;
}
.dark-mode section.products article {
    background-color: #949494;
}

.class banner{
    display:flex;
    max-width: 100%;

}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}


header{
box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
top:0;
left:0;
z-index:9;
width:100%;
font-family: "Montserrat";

}


header .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

header .head_style{
    display:flex;
    align-items: center;
}

header  .head_style h1{
    font-size : 50px;
    margin:10px;

}

header .head_style h2 {
font-weight:normal;
font-size:18px;

}
.info_flex{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

section.banner .slider{
    width: 95%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 90%);
   

}

section.banner .controllers{
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* containers */
section.banner .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding:30px


}

section.products .container{
    display:flex;
    justify-content: space-between; 
     align-items: flex-start;
    flex-wrap:  wrap;
    padding: px 50px 0;
}



/* sections */
section.products article{

width:500px;
max-width:100%;
margin:30px;
box-shadow: 0px 2px 10px rgb(0 0 0 / 50%);
background-color: rgba(238, 237, 237, 0.911);
}

section.products article .show_p {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.products .container .show_p:hover{
    box-shadow: 3px 2px 10px rgb(0 0 0 / 90%);
    transition: 2s ease;
    transform: scale(1.02);
    }

    section.products .container .btn:hover{
        transform: scale(1.10);
        transition: 1.5s ease;
    }


section.products article p{
    color: rgb(95, 95, 95);
    font-family: 'Ropa Sans', sans-serif;
}

section.products article .info{
padding:16px;


}


section styles article{
align-items: center;
border-radius: 10px;
display:flex;
justify-content: center;
width:100%;
position:relative;
margin:16px;
background-repeat: no-repeat;

}




section.products article .info .btn {
display:inline-block;
font-size: 25px;
border-radius: 20px;
padding:3px 10px;
color: rgb(236, 236, 236);
} 

section.products article .info .btn.btn-green{
    background-color: rgb(10, 196, 4);
}

section.products article .info .btn.btn-orange{
    background-color: rgb(235, 165, 15);
}

section.products article h3{
  
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif; 
    margin: 0;
    text-align: center;
    color: rgb(128, 126, 126);
    font-size: 30px;
    
}


section.types article {

    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    margin:30px;
    width:95%;
    height:150px;
    border-radius: 4px;
    position:relative;
    box-shadow: inset 0 0 2000px rgb(97, 97, 97);

}

section.types article:hover {
transform: scale(1.05) ;
transition: all 2s ease;
box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0);
}


section.types h2{
    margin:15px 15px;
text-align: center;
color: rgb(128, 126, 126);

}

section.types h2:hover {

	color: #585858;
    transition: 2s;
    text-shadow: 1px 0px 1px rgb(68, 68, 68);
}


section.types article h3{
display:flex;
color: #ffffff;
align-items: center;
justify-content: center;
position:relative;
width:100%;
height:100%;
top:0;
left:0;
text-shadow: 2px 2px 3px black;
}


footer{
    background-color: #333333;
    font-family: 'fantasy', sans-serif;
}
footer .container{
    justify-content: space-between; 
    display:flex;
    width:100%;
}

footer .google{
   
    display:flex;
    padding:40px 48px;
    width:400px;
}

footer .info_f{
    align-items: center;
    color:rgb(255, 255, 255);
 
 
}
#parent {
    text-align: justify;
    font-size: 20px; /* IE 9/10 fix */
    padding:20px;
    
  }
  #parent li {
    display: flex;
    padding: 20px 40px;
  }
  #parent:after {
    content: '';

  }


@media only screen and (min-width: 992px) {

    .products {
  
      flex: 1 0 calc(50% - 38px);

    }
  }

  @media only screen and (min-width: 768px) {

    .products {

      flex: 1 0 calc(50% - 32px);
    }
  }
  